@font-face {
 font-family: "Era Casual";
 src: url("./util/EraCasual.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(18,22,26);
  margin: auto;
  position: relative;
}

.app-container {
  padding: 10px;
  min-height: 100%;
}

.round-container {
  margin: 35px auto;
  text-align: center;
  font-family: Era Casual, Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: white;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.sections-container {
  max-width: 70%;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #26262a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  transition: .5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d23d81;
  transition: .5s;
}

/* FOOOOOOOOOOTER */
.footer-container {
  color: white;
  margin: 15px 0;
  text-align: center;
  flex-grow: 1;
}

/* TEXXXXXXXXXXXXXXXXXT */